@model ChangePasswordViewModel




@* @model LoginViewModel

<h1>Login</h1>

<form asp-action="Login" method="post">
    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" required />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" required />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input asp-for="RememberMe" type="checkbox" />
        <label asp-for="RememberMe">Remember me</label>
    </div>
    <button type="submit">Login</button>

</form>
 *@

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
    </style>
</head>
<body>
<div class="container">
        @if (TempData["ChangePassError"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ChangePassError"]
            </div>
        }
<h1 class="text-white">Змінити пароль</h1>
<div class="profile-container">
            <form asp-action="ChangePassword" method="post" class="text-white">
                <div>
                    <label asp-for="CurrentPassword">Теперішній пароль:</label>
                    <input asp-for="CurrentPassword" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="NewPassword">Новий пароль:</label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="ConfirmPassword">Підтвердіть новий пароль:</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-dark mt-2">Змінити пароль</button>
</form>
</div>
</div>
</body>
</html>
