@using FoodDeliveryApp.Models.Enums
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        if (UserManager.GetUserAsync(User).Result == null)
        {
            <li class="nav-item">
                <form asp-controller="Authorize" asp-action="Logout" method="post" id="logoutForm">
                    <button type="submit" class="btn btn-dark text-white">Вийти</button>
                </form>
            </li>
        }
        else
        {
            @* <li class="nav-item">
                <form asp-controller="Authorize" asp-action="ViewProfile" method="get">
                    <button type="submit" class="btn btn-dark text-white">@UserManager.GetUserAsync(User).Result.UserName</button>
                </form>
            </li>
            <li class="nav-item">
                <form asp-controller="Authorize" asp-action="Logout" method="post" id="logoutForm">
                    <button type="submit" class="btn btn-dark text-white">Вийти</button>
                </form>
            </li> *@
            @if (user != null && user.Role == UserRole.Admin)
            {
                <li class="nav-item" style="margin-right: 15px;">
                    <form asp-area="" asp-controller="Admin" asp-action="Index" method="get">
                        <button type="submit" class="btn btn-header text-white">
                            <i class="fa fa-cog" aria-hidden="true" style="margin-right: 10px;"></i>Панель менеджера
                        </button>
                    </form>
                </li>
            }
            <li class="nav-item" style="margin-right: 15px;">
                <a href="@Url.Action("Cart", "User")" class="btn btn-header text-white"><i class="fas fa-shopping-cart" style="margin-right: 10px;"></i>Кошик</a>
            </li>
            <li class="nav-item dropdown">
                <a class="btn btn-header text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user" style="margin-right: 10px;"></i>@UserManager.GetUserAsync(User).Result.UserName
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" asp-controller="Authorize" asp-action="ViewProfile">Профіль</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <form asp-controller="Authorize" asp-action="Logout" method="post" id="logoutForm">
                            <button type="submit" class="dropdown-item">Вийти</button>
                        </form>
                    </li>
                </ul>
            </li>
        }
    }
    else
    {
        <li class="nav-item" style="margin-right: 10px;">
            <form asp-area="" asp-controller="Authorize" asp-action="Login" method="get">
                <button type="submit" class="btn btn-dark text-white">Вхід</button>
            </form>
        </li>
        <li class="nav-item">
            <form asp-area="" asp-controller="Authorize" asp-action="Register" method="get">
                <button type="submit" class="btn btn-dark text-white">Реєстрація</button>
            </form>
        </li>
    }
</ul>
